@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #fff;  
}
.avatar{
  border: 2px solid black;
}
.helloButton{
  border: 2px sold black;
  background: yellow;
  color: blue;
  box-shadow: 1px 2px 2px;
  margin: auto;
  padding: 10px;

}